body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.cover-heading {
    color: #b1340e;
    text-shadow: 0 0 80px #ff5722d9, 0 0 60px #ff5722d9, 0 0 40px #ff5722d9, 0 0 20px #ff5722d9, 0 0 0px #ff5722d9, -1px -1px 1px #ff5722d9, 1px 1px 1px #ff5722d9, -1px 1px 1px #ff5722d9, 1px -1px 1px #ff5722d9;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.category_index {
    background: rgba(255, 255, 255, 0.25);
    height: 33%;
    margin: 0.5% 0;
    border-radius: 5px;
    border: 1px solid rgba(107, 107, 107, 0.55);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.66);
}

@media (min-aspect-ratio: 16/9) {
    video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    video {
        width: 300%;
        left: -100%;
    }
}