body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.cover-heading {
    color: #b1340e;
    text-shadow: 0 0 80px #ff5722d9, 0 0 60px #ff5722d9, 0 0 40px #ff5722d9, 0 0 20px #ff5722d9, 0 0 0px #ff5722d9, -1px -1px 1px #ff5722d9, 1px 1px 1px #ff5722d9, -1px 1px 1px #ff5722d9, 1px -1px 1px #ff5722d9;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.cont-flex {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.category_index {
    height: 30%;
    flex-basis: 30%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.82);
    border: 1px solid rgb(34, 34, 34);
    box-shadow: 0 0 20px 0px rgb(34, 34, 34);
}

.footer-bg {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

@media (max-width: 992px) {
    .footer-bg {
        background-size: 100%;
    }
}

@media (min-width: 992px) {
    .footer-bg {
        background-size: 75%;
    }
}

@media (min-width: 1200px) {
    .footer-bg {
        background-size: 50%;
    }
}

@media (min-aspect-ratio: 16/9) {
    video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    video {
        width: 300%;
        left: -100%;
    }
}