{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3 class="text-center">{{ message }}</h3>

<address class="text-center">
    <p>г. Екатеринбург</p>
    <p>ул. Ломоносова, д. 777</p>
    <abbr title="Сотовый телефон">Сот.:</abbr>
    +7 999 888 77 66
</address>

<address class="text-center">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
