{% extends "app/layout.html" %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/cover.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/parallax.css' %}" />

<div class="parallax">
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <video loop="" muted="" autoplay="" class="embed-responsive-item img-responsive" width="100%" height="auto" allowfullscreen="">
            <source src="/media/video.mp4">
        </video>
      </div>
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">
                <h1 class="cover-heading">Прикрой свою страницу.</h1>
                <p class="lead">Обложка представляет собой одностраничный шаблон для построения простых и красивых домашних страниц. Скачать, Редактировать текст, и добавить свой собственный полноэкранный фон фото, чтобы сделать его свой собственный.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-default">Узнать больше</a>
                </p>
            </div>
      </div>
    </div>

    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">
                <h1 class="cover-heading">Прикрой свою страницу.</h1>
                <p class="lead">Обложка представляет собой одностраничный шаблон для построения простых и красивых домашних страниц. Скачать, Редактировать текст, и добавить свой собственный полноэкранный фон фото, чтобы сделать его свой собственный.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-default">Узнать больше</a>
                </p>
            </div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>

    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <!--<div class="title">Base Layer</div>-->
      </div>
      <div class="parallax__layer parallax__layer--back">
        <!--<div class="title">Background Layer</div>-->
      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="title">TORIEN</div>
      </div>
    </div>

    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>

    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>

    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
  </div>

{% endblock %}
